.admin-page-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	@at-root {
		.admin-page-header {
			align-items: center;
			box-shadow: $box-shadow-300;
			display: flex;
			justify-content: space-between;
			padding: 24px 48px;
		}

		.admin-page-content {
			flex: 1 1 0;
			padding: 48px;
		}

		.admin-page-footer {
			border-top: 1px solid $color-border;
			padding: 12px 48px;

			.attribution {
				@include font-size-300;
				color: $color-text-light;
				text-align: right;
			}

			.link {
				color: $color-text-light;
			}
		}
	}
}

.admin-sidebar {

	@at-root {
		.admin-sidebar-logo {
			margin: 24px 24px 48px;
		}

		.admin-sidebar-nav {
			margin: 24px 0;
		}
	}
}

.admin-table {

	@at-root {
		.admin-table-head {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;
		}
	}
}

.admin-nav {

	@at-root {
		.admin-nav-items {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.admin-nav-item {

			&:not(.admin-nav-item-child) {

				&:not(:last-child) {
					border-bottom: 1px solid rgba($white, 0.12);
					margin-bottom: 12px;
					padding-bottom: 12px;
				}
			}

			.heading {
				@include font-size-300;
				color: rgba($white, 0.4);
				font-weight: 400;
				letter-spacing: 0.08em;
				margin-bottom: 0;
				padding: 8px 24px;
				text-transform: uppercase;
			}

			.link {
				// @include font-size-400;
				display: block;
				padding: 8px 24px;
				transition: all 0.2s ease-out;

				&:hover,
				&:focus {
					background-color: rgba($black, 0.2);
					text-decoration: none;
				}

				&.is-current {
					background-color: rgba($white, 0.12);
					font-weight: 700;
				}
			}
		}
	}
}
