.main-content {
	flex: 1 1 auto;
	min-width: 0;
	width: 100%;
}

.main-aside {
	background-color: $color-one-800;
	color: $white;
	flex: 1 1 auto;
	order: -1;
	width: 100%;

	@include breakpoint(runner) {
		flex: 0 0 auto;
		width: 256px;
	}

	a {
		color: $white;
	}
}
